body{
    background-color: rgb(34, 119, 247);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    font-size: 2em;
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}


footer p {
    text-align: center;
    color: white;
    font-style: italic;
}


div{
    text-align: center;
    padding: 8px;
}